h1{
    text-align:center;
    font-size: 100px;
    font-family: 'Anton', sans-serif;
    color:rgba(204, 6, 6, 0.829);
    background-image: url(banner3.jpg);
    height:250px;
    background-position: center center;
    background-size:cover;
    padding-top:70px;
    text-shadow:2px 1px white;
    letter-spacing:5px;
    margin-top:5px;
    border-bottom:4px solid black;
    
}

h2{
    font-family:'anton', sans-serif;
    font-size:20px;
    background-color:black;
    width:150px;
    border-bottom:1px solid white;
    text-align:center;
    padding:5px;
    letter-spacing:2px;
    border-radius:10px;
   
}

h2 a:hover{
    color:rgb(252, 248, 248);
    font-size:30px;
}


a{
    color:white;
    text-decoration:none;
}

.imgLocation{
    width:700px;
    height:500px;
    opacity:0.3;
    margin-left:auto;
    margin-right:300px;
    display:block;
    position:relative;
    top:-200px;
}

h6{
    text-align:center;
    font-size:40px;
    font-family: 'anton',sans-serif;
    display:block;
    position:relative;
    top:-840px;
    margin-left:100px;
    letter-spacing:1px;
}

h7{
    text-align:center;
    font-size:16px;
    font-family: 'anton',sans-serif;
    display:block;
    position:relative;
    margin-left:150px;
    top:-930px;
    
}

h8{
    text-align:center;
    font-size:16px;
    font-family: 'anton',sans-serif;
    display:block;
    position:relative;
    margin-left:90px;
    top:-930px;
}

.Pre-Workouts{
    width:30%;
    border:10px inset rgb(148, 39, 39);
    padding:5px;
    text-align:center;
    float:right;
    margin-right:100px;
    

}



.imgPlace:hover{
    position:relative;
    top:-25px;
    left:-35px;
    width:300px;
    height:auto;
    display:block;
    z-index:999;
}


div{
    font-family:'anton', sans-serif;
    font-size:18px;
    letter-spacing: 2px;

}
